.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  /* font-feature-settings: "width" 100; */
  font-style: normal;
}

/* Shared style */

.button-style{
    background-color: #4E47ff;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px 30px;
    cursor: pointer;
    /* box-shadow: 3px 3px #252432; */
}

.text-style{
    font-weight: 700;
    font-size: 65px;
    color: #252432;
}

.head-text{
    font-size:40px ;
    color: #252432;
    font-weight: 700;
}

/* Indivitial */

.bg-img-main{
    background-color: rgb(240, 249, 252);
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}

.title{
    text-align: center;
    padding: 260px 300px;
}

.logo-text{
    font-size: 35px;
    font-weight: 800;
    font-family: instrument Arial, Helvetica, sans-serif;
    color: #4E47ff;
}
.bg-img{
    background-image: url(../Assets/Hero-bg.png);
}

.description{
    font-size: 24px;
    color: #92929b;
}

.title-pic{
    display: flex;
    padding: 100px 100px;
    gap: 400px;
}
.img-style{
    border-radius: 48px;
}

.user-info{
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 0px;
}

.user{
  text-align: center;
}

.bg{
    background-color: rgba(26, 167, 233, 0.1);
    margin: 50px 300px;
    border-radius: 25px;
}
.inner-div{
    padding: 50px 80px;
}

.number{
    font-size: 80px;
    margin-bottom: 5px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #4E47ff, #00C6FF);
    background-clip: text; 
    color: transparent; 
    
}

.message{
    font-size: 15px;
    color: #92929b;
    margin-top: 0;
    margin-bottom: 0; 
}

.touch-section{
    display: flex;
    justify-content: space-between;
    margin: 150px;
    gap: 0 auto;
}

.touch-title{
    font-size: 80px;
    text-align:left;
}
.touch-box{
    padding: 20px 10px;
    font-size: 20px;
    display: block;
}

main input[type="email"],main input[type="text"],main textarea{
    border-radius: 10px;
    background-color: white;
    display: block;
    font-size: 20px;
    padding: 20px 10px;
    border: none;    
    width: 100%;
    margin-bottom: 10px;
}

.button-style-form {
  width: 100%;
}

/* Footer section */



.footer-section{
    margin: 100px 350px;
    text-align: center;
}

.footer-logo{
    font-size: 100px;
    color: #4E47ff;
    font-weight: 700;
    font-family: instrument Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.footer-description{
    font-size: 25px;
    color: #8987A4;
    margin: 0px 40px;
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #8987A4; 
}
.link{
    display: flex;
    gap: 50px; 
    justify-content: center;
}

/* Feedback */

.review{
     display: flex;
     align-items: center;
     gap: 20px; 
     margin-top: 20px; 
}

.review-box{
    background-color: white;
    border-radius: 20px;
    padding: 20px;

}

.rb{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.feedback{
    margin: 0px 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.name-date{
    gap: 0px;
    
}

/* Button animation */

.button-style:hover{
    background-color: red;
    text-shadow:2px 2px #252432;
    box-shadow: 2px 2px #252432;
}

/* Extra work */

.extra-work{
    background-color: white;
    border-radius: 15px;
    text-align: center;  
    margin: 150px ;
    padding: 100px 100px;
    
}