.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* Shared style */

.button-style{
    background-color: #4E47ff;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px 30px;
}

.text-style{
    font-weight: 700;
    font-size: 65px;
    color: #252432;
}

.head-text{
    font-size:40px ;
    color: #252432;
    font-weight: 700;
}

/* Indivitial */

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}

.title{
    text-align: center;
    padding: 260px 300px;
}

.logo-text{
    font-size: 35px;
    font-weight: 800;
    font-family: instrument Arial, Helvetica, sans-serif;
    color: #4E47ff;
}
.bg-img{
    background-image: url(../Assets/Hero-bg.png);
}

.description{
    font-size: 24px;
    color: #92929b;
}

.title-pic{
    display: flex;
    padding: 150px 120px;
    gap: 400px;
}
.img-style{
    border-radius: 48px;
}

.user-info{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.user{
  text-align: center;
}

.bg{
    background-color: rgba(38, 175, 238, 0.1);
    margin: 50px 300px;
    border-radius: 25px;
}
.inner-div{
    padding: 50px 80px;
}

.number{
    font-size: 70px;  
    color: rgb(8, 42, 116);
}

.message{
    font-size: 0px;
    font-size: 24px;
    color: #92929b;
}

.touch-section{
    display: flex;
}

footer input[type="email"],footer input[type="text"],footer textarea{
    border-radius: 5px;
    background-color: white;
    display: block;
    font-size: 20px;
    padding: 20px 10px;
}